version: '3'

services:
  piveau-hub-repo:
    image: registry.gitlab.com/piveau/hub/piveau-hub-repo:3.0.24
    container_name: piveau-hub-repo
    logging:
      options:
        max-size: "50m"
    ports:
      - 8081:8080
      - 8085:8085
      - 5002:5000
    environment:
      - PIVEAU_HUB_SERVICE_PORT=8080
      - PIVEAU_HUB_SEARCH_SERVICE={"enabled":true,"url":"piveau-hub-search","port":8080,"api_key":"yourSearchApiKey"}
      - PIVEAU_HUB_API_KEY=yourRepoApiKey
      - PIVEAU_HUB_SHELL_CONFIG={"http":{},"telnet":{}}
      - PIVEAU_TRIPLESTORE_CONFIG={"address":"http://virtuoso:8890","clearGeoDataCatalogues":["*"]}
      - PIVEAU_HUB_AUTHORIZATION_PROCESS_DATA.tokenServerConfig.keycloak.realm=piveau
      - PIVEAU_HUB_AUTHORIZATION_PROCESS_DATA.tokenServerConfig.keycloak.serverUrl=http://keycloak:8090/auth
      - PIVEAU_HUB_AUTHORIZATION_PROCESS_DATA.clientId=piveau-hub-repo
      - PIVEAU_HUB_AUTHORIZATION_PROCESS_DATA.clientSecret=KJywv118ryHbMbMbeJaZARSD31K8WGvL
      - JAVA_OPTS=-Xms1g -Xmx2g

  piveau-hub-search:
    image: registry.gitlab.com/piveau/hub/piveau-hub-search:5.0.3
    container_name: piveau-hub-search
    logging:
      options:
        max-size: "50m"
    ports:
      - 8084:8080
      - 8086:8081
    depends_on:
      elasticsearch:
        condition: service_healthy
    environment:
      - PIVEAU_HUB_SEARCH_API_KEY=yourSearchApiKey
      - PIVEAU_HUB_SEARCH_ES_CONFIG={"host":"elasticsearch","port":9200}
      - PIVEAU_HUB_SEARCH_GAZETTEER_CONFIG={"url":"http://doesnotmatter.eu"}
      - JAVA_OPTS=-Xms1g -Xmx2g

  piveau-hub-ui:
    image: registry.gitlab.com/piveau/hub/piveau-hub-ui:v1.15.15
    container_name: piveau-hub-ui
    logging:
      options:
        max-size: "50m"
    ports:
      - 8080:8080
    environment:
      - VUE_APP_METADATA_TITLE=ac3-piveau
      - VUE_APP_API_BASE_URL=http://localhost:8084/
      - VUE_APP_API_UPLOAD_BASE_URL=http://localhost:8088/
      - VUE_APP_AUTHENTICATION_USE_SERVICE=true
      - VUE_APP_AUTHENTICATION_LOGIN_USE_LOGIN=true
      - VUE_APP_AUTHENTICATION_LOGIN_LOGIN_TITLE=Connect
      - VUE_APP_AUTHENTICATION_LOGIN_LOGOUT_TITLE=Logout
      - VUE_APP_AUTHENTICATION_LOGIN_LOGOUT_URL=/logout
      #       realm: 'piveau',
      - VUE_APP_AUTHENTICATION_KEYCLOAK_REALM=piveau
      #       clientId: 'piveau-hub-ui',
      - VUE_APP_AUTHENTICATION_KEYCLOAK_CLIENT_ID=piveau-hub-ui
      #       url: 'http://localhost:8090',
      - VUE_APP_AUTHENTICATION_KEYCLOAK_URL=http://localhost:8090/auth
      #       'ssl-required': 'external',
      - VUE_APP_AUTHENTICATION_KEYCLOAK_SSL_REQUIRED=external
      #       'public-client': true,
      - VUE_APP_AUTHENTICATION_KEYCLOAK_PUBLIC_CLIENT=true
      #       'verify-token-audience': true,
      - VUE_APP_AUTHENTICATION_KEYCLOAK_VERIFY_TOKEN_AUDIENCE=true
      #       'use-resource-role-mappings': true,
      - VUE_APP_AUTHENTICATION_KEYCLOAK_USE_RESOURCE_ROLE_MAPPINGS=true
      #       'confidential-port': 0,
      - VUE_APP_AUTHENTICATION_KEYCLOAK_CONFIDENTIAL_PORT=0
#      - VUE_APP_AUTHENTICATION_RTP_GRAND_TYPE='urn:ietf:params:oauth:grant-type:uma-ticket'
#      - VUE_APP_AUTHENTICATION_RTP_AUDIENCE="piveau-hub-repo"
      - VUE_APP_ROUTER_OPTIONS_BASE=/

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.2
    container_name: elasticsearch
    logging:
      options:
        max-size: "50m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    healthcheck:
      test: curl -s -f http://elasticsearch:9200/_cat/health >/dev/null || exit 1
      interval: 5s
      timeout: 3s
      retries: 20
    ports:
      - 9200:9200
      - 9300:9300
    environment:
      - bootstrap.memory_lock=true
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms2G -Xmx4G
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data

  virtuoso:
    image: openlink/virtuoso-opensource-7:7.2.9
    container_name: virtuoso
    logging:
      options:
        max-size: "50m"
    ports:
      - 8890:8890
      - 1111:1111
    environment:
      - DBA_PASSWORD=dba
      - VIRT_PARAMETERS_NUMBEROFBUFFERS=170000
      - VIRT_PARAMETERS_MAXDIRTYBUFFERS=130000
      - VIRT_PARAMETERS_SERVERTHREADS=100
      - VIRT_HTTPSERVER_SERVERTHREADS=100
      - VIRT_HTTPSERVER_MAXCLIENTCONNECTIONS=100
    volumes:
      - virtuoso-data:/database

volumes:
  virtuoso-data:
  elasticsearch-data:
